.containerHome {
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    rgb(255, 183, 197),
    rgba(255, 230, 250, 0.9)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.titulo {
  color: #6b0037;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 2px #cf1481;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background: rgba(255, 255, 255, 0.6);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 3px 6px 15px rgba(255, 80, 188, 0.808);
  max-width: 400px;
  width: 100%;
  transition: transform 0.3s;
}

.menu:hover {
  transform: scale(1.05);
}
.emoji {
  font-size: 1.5rem;
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 0.8s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
